/* as described in 1_setting_up_the_blog */
body {
  font-family: 'Open Sans', serif;
  padding-top: 54px;
  color: #33679a; /* was #868e96; */
}

.p-0 {
  margin: 0 auto;
}

.devicons {
  font-size: 1.5em;
  vertical-align: sub;
}

/* ensure items with short summaries push date over image */
.publication-content {
  width: 90%;
}

h1 {
  font-size: 3rem;
  line-height: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  margin-top: 10px;
}

h3.mb-0 {
  margin-top: 0;
}

div.skills-heading {
  margin-top: 1em;
  margin-bottom: 0 !important;
}

/* From https://codepen.io/wbeeftink/pen/dIaDH */

.tags {
  font: 12px/1.5 'PT Sans', serif;
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.tags li {
  float: left;
}

.tag {
  background: #eee;
  border-radius: 3px 0 0 3px;
  color: #999;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

.tag::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag::after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #eee;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.tag:hover {
  background-color: crimson;
  color: white;
}

.tag:hover::after {
  border-left-color: crimson;
}

.project-fact {
  font-size: 80%;
  font-style: italic;
}

.resume-section blockquote {
  border-left: 4px solid #bd5d38;
  padding-left: 1em;
}

/* Change rules for toc in blog posts */
#toc-blog {
  margin-top: 25px;
  margin-bottom: 25px;
}
#toc-blog a {
  color: #0062cc;
}
/* Fix responsive width for blog posts */
.my-auto {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}
/* Fix space after code sample */
.highlight {
  margin-bottom: 1em;
}
/* Fix space after table */
table {
  margin-bottom: 1em;
}

/* Remove empty black space at the end of a code block */
table pre {
  margin-bottom: 0rem;
}

/* The short paragraph at the bottom of the article to invite people to write to me*/
.open-invite-blog {
  color: #000;
  font-weight: bold;
}
