{{ define "main" }}
{{ partial "breadcrumbs" . }}
<section class="resume-section p-3 p-lg-5 d-flex d-column">
  <div class="my-auto">
    <h2 class="mb-0"><span class="text-primary">{{ .Title }}</span></h2>
    <span class="text-primary">{{ .Date.Format "January 2, 2006" }}</span>
	
	{{ if .Params.toc }}
	<div id="toc-blog">
		{{ .TableOfContents }}
	</div> 
	{{ end }}
    
	{{ .Content }}
    {{ with .Params.link }}<p>Project link: <a href="{{ . }}">{{ . }}</a></p>{{ end }}
    {{ partial "techtags" . }}

  <div class="open-invite-blog">If you have questions, suggestions or want to discuss about this subject, 
    I'd be more than happy if you reach me at <a href="mailto:conta-remove-ct@julienrouse.com">conta<span style="display:none">-remove-</span>ct@julienrouse.com</a>. See also my <a href="/blog/open-invite">open invite</a></div>
  </div>
</section>
{{ end }}
